body {
    background-color: #d3d3d3;
}

h3{
    font-family: Andale Mono, monospace;
}

.principal{
    background-color: white;
    margin: 0 300px 0 300px; 
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 70%;
}

.lado_esquerdo{
    background-color: #0a9e74;
}



.foto_perfil{
    margin: 50px 25% 50px 25%;
    border-radius: 50%;
}

.titulo_contato{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.material-icons.icone_branco{
    color: white;
}

.bloco_informacao{
    display: flex;
    flex-direction: row;
    margin-left:  30px;
    margin-bottom: 16px;
    width: 100%;
    align-items: center; 
    
}

.descricao{
    font-size: 16px;
    color: white;
    font-weight: 600;
    font-family: Andale Mono, monospace;
    margin-left: 16px;
    margin-right: 50px;
    
}

.Nome{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 37px;
    text-decoration: underline;
}

.Experiencias_Profissionais{
    margin-left: 55px;
    color: black;
    text-transform: uppercase;
    font-family: Andale Mono, monospace;

}

.cargo{
    margin-left: 20px;
    color: black;
    text-transform: uppercase;
    font-family: Andale Mono, monospace;

}

.empresa{
    margin-left: 20px;
    color: black;
    text-transform: uppercase;
    font-family: Andale Mono, monospace;
}

.experiencia{
    margin-left: 20px;
    color: black;
    text-transform: uppercase;
    font-family: Andale Mono, monospace;
    
}